header{
	.topbar{
		background: $primary-color;
		position: relative;
		display: block;
		.header-event{
			.count-list{
				li{
					background: #1a9c59;
					padding:13px 22px;
					margin: 0 3px;
					cursor: pointer;
					&:first-child{
						background:transparent;
						padding: 13px 0;
						cursor: inherit;
						margin-left: 0 !important;
					}
					h6{
						font-size: 16px;
						margin: 0;
						color: #ffffff;
						font-family: $body-font;
						text-transform: uppercase;
						font-weight: 700;
						padding-right: 22px;
						display: block;
					}
					span{
						color: #fff;
						margin: 0;
						display: inline-block;
						font-size: 16px;
						font-family: $body-font;
						&.count{
							font-weight: 700;
							margin-right: 8px;
						}
						&.con{
							opacity: 0.5;
							font-weight: 400;
							text-transform: uppercase;
							transition: $transition;
						}
					}
					&:hover{
						span{
							&.con{
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.header-social{
			ul{
				li{
					padding:13px 0 13px 17px;
					a{
						font-size: 20px;
						display: block;
						color: #fff;
						opacity: 0.3;
						&:hover{
							color:#fff;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}