/*** Reset ***/
.p-re{
  position: relative;
}
.p-ab{
  position: absolute;
}
.list-inline{
  li{
    display: inline-block;
  }
}
.af-be{
  &:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &:before{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.af{
  &:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.be{
  &:before{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.bg-img{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.floatleft{
  float: left;
}
.floatright{
  float: right;
}
.alignleft{
  float: left;
  margin-right: 15px;
  margin-bottom: 26px;
}
.alignright{
  float: right;
  margin-left: 15px;
  margin-bottom: 26px;
}
.aligncenter{
  display: block;
  margin: 0 auto 26px;
}
.pagination{
  text-align: center;
  display: block !important;
  margin: 28px 0 0;
  ul{
    li{
      padding: 0 9px;
      a{
        line-height: 50px;
        display: block;
        padding: 0 18px;
        background: #f5f5f5;
        color: #999999;
        font-size: 18px;
        border-radius: 5px;
        &:hover{
          background:$hover-color;
          color: #fff;
        }
      }
      &:first-child{
        padding-right: 115px;
        padding-left: 0;
        a{
          font-size: 16px;
        }
      }
      &:last-child{
        padding-right: 0;
        padding-left: 115px;
        a{
          font-size: 16px;
        }
      }
    }
  }
}
